{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}" />
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <center><h1>About us</h1></center>
<div class="center">
<p><b>Snack & Drink Delivery เกิดขึ้นมาได้อย่างไร ?</b><br><br>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;เนื่องจากปัญหาที่ผู้บริโภคไม่ค่อยมีเวลาลงมาซื้อของหรืออาจมีปัญหาต่างๆนานาในการลงมาซื้อเอง จึงได้เกิด Snack & Drink Delivery ขึ้นมา เพียงแค่ผู้บริโภคผู้น่ารักใช้บริการสั่งซื้อกับทางร้านเรา เราจะจัดส่งสินค้าที่ท่านต้องการไปยังสถานที่ที่ระบุไว้ หรือเราเรียกว่าบริการ Delivery ขั้นตอนการใช้บริการนั้นไม่ยากเลย เพียงทำตามขึ้นตอนดังนี้<br>
1.เข้าหน้า App Snack & Drink Delivery<br> 
2.ทำการ login เข้าใช้งาน หากยังไม่ได้เป็นสมาชิก สามารถลงทะเบียนเเละเข้าใช้งานได้เลย<br>
3.ทำการเลือกสินค้าที่ท่านต้องการ พร้อมทั้ง ระบุสถานที่และเวลาในการจัดส่ง กด summit<br>
4.รายการสินค้าที่ท่านสั่ง  เวลาและสถานที่จะปรากฏบนหน้าจอ จากนั้นรอรับสินค้าตามเวลาเเละสถานที่ที่ระบุไว้<br><br>

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;บริการของเราทั้งมีสินค้ามากมายให้เลือกสรร บริการส่งที่รวดเร็ว ราคาสบายกระเป๋าตัง แล้วอย่าลืมมาใช้บริการกันนะครับ</p>
</div>
        <br><center><a href="{% url 'shop:index' %}">back</a></center>
    </body>
</html>


