{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}" />
<html>
    <head>
        <title>Response</title>
    </head>
    <body>
        <center><h1>Create Account Success</h1></center>
        <br><br>
        <div class="center1">
        <h2>Account</h2>
        <b>Name :</b> {{name_text}} <br>
        <br><b>Phone :</b> {{phone_text}} </br>
        <br><b>Username :</b> {{username_text}} </br>
        <br><b>Password :</b> {{password_text}} </br>
        <form action="{% url 'shop:login' %}" method="post">
        {% csrf_token %}
            <br>
            <hr>
            <button type="submit"class ="button button0">Login</button>
        </form>
        </div>
    </body>
</html>
